<div class="row omes-center" mg-model="word">
	<h2>Go time.</h2>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 omes-center eng">
			<h3>{{ word.eng }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 omes-center eng">
			<h3 ng-hide="showEsp">{{ word.esp }}</h3>
		</div>
	</div>
</div>


<div class="row play-controls omes-center">
	<button type="submit" ng-click="toggleWord()" class="btn btn-primary btn-hg" ng-model="showEspTxt">{{showEspTxt}}</button>
	<button type="submit" ng-click="getWord()" class="btn btn-primary btn-hg">Next</button>	
</div>

<div class="row play-controls omes-center">
	<div class="col-xs-4 col-xs-offset-4 omes-center">
		<div class="form-group">
			<select ng-model="filters.date" class="form-control select select-primary select-block mbl">
				<option value="0" ng-disabled="expression">Filter by last added</option>
				<option value="1" >This week</option>
				<option value="2">Two weeks ago</option>
				<option value="3">One month ago</option>
				<option value="4">Two months ago</option>
				<option value="5">Six months ago</option>
			</select>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		// Style Flat-ui select element
		$("select").select2({dropdownCssClass: 'dropdown-inverse'});
	});
</script>



